<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
{% if page.mathjax %}
  <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
  <script type="text/javascript" async src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_SVG"></script>
{% endif %}
{% if google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111846717-1"></script>
  <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);};gtag('js', new Date());gtag('config', 'UA-111846717-1');</script>
{% endif %}
  <title>{{ page.title }}</title>
</head>
