---
---

@import "{{ site.theme }}";

html, body { font-family: Consolas, "Microsoft Yahei", sans-serif; }
.page-header { background-image: linear-gradient(120deg, #eac90b, #a91165, #08c6e4) }
@media screen and (min-width: 64em) { .page-header { padding: 3rem 2rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .page-header { padding: 1.5rem 1rem; } }
@media screen and (max-width: 42em) { .page-header { padding: 1.2rem 0.6rem; } }
.nav-header { position: fixed; background-image: linear-gradient(30deg, #eac90b, #a91165, #08c6e4); width: 100%; margin:auto; height: 4rem; }
@media screen and (min-width: 64em) { .nav-header { padding: 0.4rem 8rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .nav-header { padding: 0.4rem 4rem; }
                                                            .btn { padding: 0.75rem; font-size: 1rem; } }
@media screen and (max-width: 42em) { .nav-header { padding: 0.4rem 0.6rem; } 
                                      .btn { font-size: 1rem; } }
.main-content { letter-spacing: 0.1rem; }
@media screen and (min-width: 64em) { .main-content { font-size: 1rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .main-content { font-size: 1rem; } }
@media screen and (max-width: 42em) { .main-content { font-size: 0.9rem; } }
.site-footer-owner { text-align: center; }
.site-footer { padding-top: 1rem; border-top: solid 2px #e0f0f1; }
